.speaker-card{
    /* para a imagem não sair do container: */
    overflow: hidden;
    background-color: lightgrey;
    border-radius: 5px;
    /* padding: 4px 0 4px 0; */
    /* largura máxima que o card pode ter */
    max-width: 250px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    transition: 0.5s ease-out;
    border: 2px solid rgb(134,59,50);
}

/* pseudoclasse: controla o estado de um elemento */
.speaker-card:hover{
    background-color: rgb(134,59,50);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transform: scale(1.1);
    color: white;
}

.speaker-card p{
    font-size: 16px;
    color: rgb(134,59,50);
}

.speaker-card:hover p{
    color: lightgray;
}

.speaker-card h3{
    padding: 5px 0;
    font-size: 22px;
    color: black;
}

.speaker-card figcaption{
    padding: 5px;
}

.speaker-card img{
    width: 250px;
    border-bottom: 2px solid rgb(134,59,50);
}